h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h3 {
    text-align: center;
}
#Inicio {
    text-align: center;
}
#Empleados {
    text-align: center;
}
#Prestaciones {
    text-align: center;
}
p{
    font-size:medium;
}