h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
h3 {
    text-align: center;
}
#botones {
    display:flex;
    justify-content:center;
}
#divIni {
    float:left;
}
#divPres {
    float:right;
}
p{
    font-size:medium;
}